html{ 
    background: url(../IMG/forrest-bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
  }
ul{
    padding: 0;
    list-style: none;
    margin: 0px;
    overflow: hidden;
    background-color: rgb(15, 70, 24);
    top: 0;
    right: 0;
    width: 100%;
    height: 60px;
}
li a{
    font-family: offside;
    color: white;
    font-size: 18px;
    display:block;
    width: 80px;
    height: 60px;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}
li a:hover{
    background-color: chartreuse;
}
li{
    float: right;
}
.active {
    background-color: #1e24209d;
}
.logo-image{
    float: left;
    position: fixed;
    top: 5px;
    opacity: 1;
}
.logo-image:hover{
    opacity: .50;
}
.box1{
    background-color: rgba(15, 70, 24, 0.699);
    font-family: offside;
    position: absolute;
    top: 120px;
    left: 30px;
    bottom: 300px;
    padding: 40px;
}
.h1{
    font-size: 105px;
    text-align: left;
    color: rgb(113, 226, 0);
}
.p1{
    top: 85px;
    text-align: left;
    color: rgb(255, 255, 255);
    font-size: 45px;
}
.p2{
    color: rgb(15, 70, 24);
    text-decoration: none;
    width: 30%;
    padding: 10;
    margin: 0;
    text-align: center;
    font-size: 40px;
    background-color: rgb(86, 172, 0);
}
.p2:hover{
    background-color: darkgreen;
}
a:link { 
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
a:visited{
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
footer{
    font-size: 18px;
    color:chartreuse;
    text-align: center;
    display: block;
    position: fixed;
    bottom: 0;
    background-color: rgb(15, 70, 24);
    width: 1905px;
    height: 80px;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: rgb(75, 148, 3);
    color: rgb(255, 255, 255);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: rgb(15, 70, 24);
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f259;
    padding: 20px;
    margin-top: 100px;
  }
  .Scottimg{
    position: absolute;
    left: 100px;
    top: 150px;
    box-shadow: 0 0 0 5px rgb(15, 70, 24);
  }
  .box2{
      word-spacing: .5px;
      font-size: 25px;
      padding: 30px;
      color: white;
      position: absolute;
      left: 500px;
      top: 175px;
      margin-right: 400px;
      background-color: rgba(15, 70, 24, 0.904);
  }
 